@use "../abstracts/" as *;

/***************** Header Page *****************/

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

header {
  //Navbar
  nav {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr; /* Chia bố cục 3 phần */
    align-items: center;
    gap: 24px;
    padding: 16px 80px;
    ul {
      @include flex($align: center, $justify: space-between, $gap: 16px);

      li {
        list-style: none;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%; /* 16px */
        cursor: pointer;
        a {
          color: $text-color;
        }
        figure {
          @include flex($gap: 8px, $align: center);
        }
      }
    }

    .link-direct-mobile {
      display: none;
    }

    .btn-action {
      @include flex($align: center, $justify: flex-end, $gap: 16px);
      .btn {
        padding: 16px 12px;
      }
    }

    @include tablet {
      padding: 16px;
      @include flex($justify: space-between, $align: center);
      .desktop {
        display: none;
      }
      .link-direct-mobile {
        display: block;
      }
    }

    @include mobile {
      padding: 16px;
      @include flex($justify: space-between, $align: center);
      .desktop {
        display: none;
      }
      .link-direct-mobile {
        display: block;
      }
    }
  }
}
