@use "../abstracts/" as *;

.btn {
  font-family: $primary-font;
  white-space: nowrap;
  border: 2px solid $primary-color;
  text-align: center;
  color: $text-second-color;
  background-color: $primary-color;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.5px;
  padding: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  &-no-primary {
    color: $text-third-color;
    background-color: $background-color;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.5px;
    padding: 16px;
  }
}
@include desktop {
  .btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.contain-button-action {
  text-align: center;
}
