@use "../abstracts/" as *;
@forward "button";
@forward "card";
@forward "title";
@forward "img";

.container {
  max-width: 1920px;
  margin: 0 auto;
  section {
    padding: $padding-desktop;
  }

  @include tablet {
    max-width: 1023px;
    section {
      padding: $padding-mobile;
    }
  }

  @include mobile {
    max-width: inherit;
    section {
      padding: $padding-mobile;
    }
  }
}
