<footer>
      <div class="container-top-footer">
        <figure class="logo">
          <img src="../assets/image/desktop/logo-footer.webp" alt="logo" />
        </figure>
        <form class="email-form">
          <div class="input-container">
            <div class="search-icon">
              <include
                src="./components/icon-list.html"
                locals='{"icons":["ic_search.svg"]}'
              >
              </include>
            </div>
            <input
              type="email"
              class="email-input"
              placeholder="Enter your email to get the latest news..."
              required
            />
          </div>
          <button type="submit" class="subscribe-btn btn">
            Subscribe
          </button>
        </form>
      </div>
      <hr />
      <div class="container-menu-footer">
        <include
          src="./components/menu-footer.html"
          locals='{"list":[
          {"listMn": ["Column One","Twenty One","Thirty Two","Fourty Three","Fifty Four"]},
          {"listMn": ["Column Two","Sixty Five","Seventy Six","Eighty Seven","Ninety Eight"]},
          {"listMn": ["Column Three","One Two","Three Four","Five Six","Seven Eight"]}
          ]}'
        >
        </include>
        <div class="menu-contact-footer">
          <div class="menu-contact-footer-top">
            <span>Column Four</span>
            <div class="contain-logo-contact-app">
              <include
                src="./components/icon-list.html"
                locals='{"icons": ["ic_apple.svg","ic_android.svg"]}'
              ></include>
            </div>
          </div>
          <div class="menu-contact-footer-bottom">
            <span>Join Us</span>
            <div class="logo-menu-contact-social">
              <include
                src="./components/icon-list.html"
                locals='{"icons": ["ic_youtube_light.svg","ic_facebook_light.svg","ic_twitter_light.svg","ic_instagram_white.svg", "ic_linkedin_light.svg"]}'
              ></include>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="container-bottom-footer">
        <span>CompanyName @ 202X. All rights reserved.</span>
        <div class="bottom-footer-menu">
          <include
            src="./components/menu-footer.html"
            locals='{"list":[
          {"listMn": ["Eleven"]},
          {"listMn": ["Twelve"]},
          {"listMn": ["Thirteen"]}
          ]}'
          >
          </include>
        </div>
      </div>
  </footer>
  