<header>
  <include src="./components/navbar.html" locals="{}"> </include>
  <div class="hero">
    <div class="hero-title">
      <div class="hero-title-top">
        <h1>Host Design Meetings From Anywhere</h1>
        <p>
          Unlock your design skills to create beautiful websites and apps with a
          poweful and easy-to-use tool
        </p>
      </div>
      <div class="hero-title-bottom">
        <button class="hero-title-btn btn">
          <span>Primary Action</span>
          <figure>
            <img
              src="../assets/icon/ic_arrow-right-light.svg"
              alt="ic_arrow-right-light"
            />
          </figure>
        </button>
        <button class="hero-title-btn btn btn-no-primary">
          <span>Secondary Action</span>
        </button>
      </div>
    </div>
    <picture class="hero-img">
      <source
        media="(max-width:1250px)"
        srcset="../assets/image/mobile/hero_img_right_mobile.webp"
        class="img-main"
      />
      <img
        src="../assets/image/desktop/hero_img_right_desktop.webp"
        alt="hero img"
        class="img-main"
      />
    </picture>
  </div>
</header>
