<main>
  <!-- Tools Section  -->
  <section class="tools">
    <!-- Title -->
    <include
      src="./components/title.html"
      locals='{"titlePrimary": "the tools you need","titleSecondary": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.","titleSecondary2": ""}'
    >
    </include>

    <!-- Start Card Tools -->
    <div class="tools-cards cards">
      <include
        src="./components/card.html"
        locals='{"list": [
        {"class": "tools-card", "cardImage": "icon/ic_calendar.svg", "cardName": "ic_calendar", "contentCard":"Egestas elit dui scelerisque ut eu purus aliquam vitae habitasse." },
        {"class": "tools-card", "cardImage": "icon/ic_luggage.svg", "cardName": "ic_luggage", "contentCard":"Id eros pellentesque facilisi id mollis faucibus commodo enim." },
        {"class": "tools-card", "cardImage": "icon/ic_activity.svg", "cardName": "ic_activity", "contentCard":"Nunc, pellentesque velit malesuada non massa arcu."},
        {"class": "tools-card", "cardImage": "icon/ic_car.svg", "cardName": "ic_car", "contentCard":"Imperdiet purus pellentesque sit mi nibh sit integer faucibus." }
        ]}'
      >
      </include>
    </div>

    <!-- Button Action -->
    <include
      src="./components/button-primary.html"
      locals='{"classButton":"tools-btn"}'
    >
    </include>
  </section>

  <!-- Company Section -->
  <section class="company">
    <!-- title -->
    <div class="company-introduce">
      <include
        src="./components/title.html"
        locals='{"titlePrimary": "You Are in GooD Company", "titleSecondary": "Bibendum amet at molestie mattis.","titleSecondary2":""}'
      ></include>

      <p>
        Rhoncus morbi et augue nec, in id ullamcorper at sit. Condimentum sit
        nunc in eros scelerisque sed. Commodo in viverra nunc, ullamcorper ut.
        Non, amet, aliquet scelerisque nullam sagittis, pulvinar. Fermentum
        scelerisque sit consectetur hac mi. Mollis leo eleifend ultricies purus
        iaculis.
      </p>
    </div>

    <!-- logo company -->
    <div class="company-cards cards">
      <include
        src="./components/card.html"
        locals='{"list": [
        {"class": "company-card", "cardImage": "image/desktop/logo_shells.webp", "cardName": "logo_shells", "contentCard":"" },
        {"class": "company-card", "cardImage": "image/desktop/logo_smartFinder.webp", "cardName": "logo_smartFinder", "contentCard":"" },
        {"class": "company-card", "cardImage": "image/desktop/logo_zoomerr.webp", "cardName": "logo_zoomerr", "contentCard":"" },
        {"class": "company-card", "cardImage": "image/desktop/logo_artVenue.webp", "cardName": "logo_artVenue", "contentCard":"" },
        {"class": "company-card", "cardImage": "image/desktop/logo_kontrastr.webp", "cardName": "logo_artVenue", "contentCard":""},
        {"class": "company-card", "cardImage": "image/desktop/logo_wavesmarathon.webp", "cardName": "logo_wavesmarathon", "contentCard":"" }
        ]}'
      >
      </include>
    </div>
  </section>
</main>
