<main>
  <!-- Tools Section  -->
  <section class="tools">
    <!-- Title -->
    <include
      src="./components/title.html"
      locals='{"titlePrimary": "the tools you need","titleSecondary": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.","titleSecondary2": ""}'
    >
    </include>

    <!-- Start Card Tools -->
    <div class="tools-cards cards">
      <include
        src="./components/card.html"
        locals='{"list": [
        {"class": "tools-card", "cardImage": "icon/ic_calendar.svg", "cardName": "ic_calendar", "contentCard":"Egestas elit dui scelerisque ut eu purus aliquam vitae habitasse." },
        {"class": "tools-card", "cardImage": "icon/ic_luggage.svg", "cardName": "ic_luggage", "contentCard":"Id eros pellentesque facilisi id mollis faucibus commodo enim." },
        {"class": "tools-card", "cardImage": "icon/ic_activity.svg", "cardName": "ic_activity", "contentCard":"Nunc, pellentesque velit malesuada non massa arcu."},
        {"class": "tools-card", "cardImage": "icon/ic_car.svg", "cardName": "ic_car", "contentCard":"Imperdiet purus pellentesque sit mi nibh sit integer faucibus." }
        ]}'
      >
      </include>
    </div>

    <!-- Button Action -->
    <include
      src="./components/button-primary.html"
      locals='{"classButton":"tools-btn"}'
    >
    </include>
  </section>

  <!-- Company Section -->
  <section class="company">
    <!-- title -->
    <div class="company-introduce">
      <include
        src="./components/title.html"
        locals='{"titlePrimary": "You Are in GooD Company", "titleSecondary": "Bibendum amet at molestie mattis.","titleSecondary2":""}'
      ></include>

      <p>
        Rhoncus morbi et augue nec, in id ullamcorper at sit. Condimentum sit
        nunc in eros scelerisque sed. Commodo in viverra nunc, ullamcorper ut.
        Non, amet, aliquet scelerisque nullam sagittis, pulvinar. Fermentum
        scelerisque sit consectetur hac mi. Mollis leo eleifend ultricies purus
        iaculis.
      </p>
    </div>

    <!-- logo company -->
    <div class="company-cards cards">
      <include
        src="./components/card.html"
        locals='{"list": [
        {"class": "company-card", "cardImage": "image/desktop/logo_shells.webp", "cardName": "logo_shells", "contentCard":"" },
        {"class": "company-card", "cardImage": "image/desktop/logo_smartFinder.webp", "cardName": "logo_smartFinder", "contentCard":"" },
        {"class": "company-card", "cardImage": "image/desktop/logo_zoomerr.webp", "cardName": "logo_zoomerr", "contentCard":"" },
        {"class": "company-card", "cardImage": "image/desktop/logo_artVenue.webp", "cardName": "logo_artVenue", "contentCard":"" },
        {"class": "company-card", "cardImage": "image/desktop/logo_kontrastr.webp", "cardName": "logo_artVenue", "contentCard":""},
        {"class": "company-card", "cardImage": "image/desktop/logo_wavesmarathon.webp", "cardName": "logo_wavesmarathon", "contentCard":"" }
        ]}'
      >
      </include>
    </div>
  </section>

  <!-- Caption Section -->
  <section class="caption">
    <!-- title -->
    <include
      src="./components/title.html"
      locals='{"titlePrimary": "Caption", "titleSecondary": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.", "titleSecondary2": "Bibendum amet at molestie mattis."}'
    ></include>

    <!-- Caption Cards  -->
    <div class="caption-cards cards">
      <include
        src="./components/card.html"
        locals='{"list": [
        {"class": "caption-card", "cardImage": "icon/ic_calendar.svg", "cardName": "ic_calendar", "contentCard":"Nibh nullam vitae semper pharetra sit enim id. Ut eu non massa nec. Proin eget semper orci suspendisse in ornare adipiscing phasellus mauris. Velit faucibus at habitasse tempor sit odio ac commodo dui." },
        {"class": "caption-card", "cardImage": "icon/ic_luggage.svg", "cardName": "ic_luggage", "contentCard":"Sed et pulvinar donec sed et, nisl dolor amet. Mollis aliquet volutpat ullamcorper ac sed lectus iaculis. Fringilla sed placerat commodo bibendum integer. Diam ut magna eleifend consectetur." },
        {"class": "caption-card", "cardImage": "icon/ic_activity.svg", "cardName": "ic_activity", "contentCard":"Nunc amet, tempor morbi ligula ut faucibus gravida. Accumsan, suspendisse mus quisque pellentesque id vulputate hendrerit. Donec ipsum nibh elementum platea proin egestas gravida consectetur sit."},
        {"class": "caption-card", "cardImage": "icon/ic_car.svg", "cardName": "ic_car", "contentCard":"Pellentesque auctor adipiscing lacus viverra. Neque, nulla in amet eget. Arcu, nibh purus urna amet sagittis quis tellus etiam eget. Ultrices egestas a tristique aliquet odio varius." }
        ]}'
      >
      </include>
    </div>

    <!-- Caption button actions -->
    <include
      src="./components/button-primary.html"
      locals='{"classButton": "caption-button"}'
    >
    </include>
  </section>

  <!-- Testimonials Section -->
  <section class="testimonials">
    <!-- title -->
    <include
      src="./components/title.html"
      locals='{"titlePrimary": "Testimonials", "titleSecondary": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.", "titleSecondary2": "Bibendum amet at molestie mattis."}'
    ></include>

    <!-- Start slider -->
    <div class="testimonials-slider">
      <figure class="testimonials-prev">
        <img
          src="../assets/icon/ic_arrow_left_not_active.svg"
          alt="ic_arrow_left_not_active"
          class="img-main"
        />
      </figure>

      <div class="content-testimonials">
        <figure>
          <img
            class="testimonials-logo"
            src="../assets/image/desktop/logo_zoomerr.webp"
            alt="testimonials-logo"
            class="img-main"
          />
        </figure>
        <div class="testimonials-context">
          <p>
            Malesuada facilisi libero, nam eu. Quis pellentesque tortor a
            elementum ut blandit sed pellentesque arcu. Malesuada in faucibus
            risus velit diam. Non, massa ut a arcu, fermentum, vel interdum.
          </p>
        </div>
        <div class="testimonials-author">
          <figure class="author-avatar">
            <img
              src="../assets/icon/user_thumb.svg"
              alt="user_thumb"
              class="img-main"
            />
          </figure>
          <div class="author-detail">
            <span class="author-name"> Author Name </span>
            <span class="author-role">Role</span>
          </div>
        </div>
      </div>

      <div class="content-testimonials">
        <figure>
          <img
            class="testimonials-logo"
            src="../assets/image/desktop/logo_zoomerr.webp"
            alt="testimonials-logo"
            class="img-main"
          />
        </figure>
        <div class="testimonials-context">
          <p>
            Malesuada facilisi libero, nam eu. Quis pellentesque tortor a
            elementum ut blandit sed pellentesque arcu. Malesuada in faucibus
            risus velit diam. Non, massa ut a arcu, fermentum, vel interdum.
          </p>
        </div>
        <div class="testimonials-author">
          <figure class="author-avatar">
            <img
              src="../assets/icon/user_thumb.svg"
              alt="user_thumb"
              class="img-main"
            />
          </figure>
          <div class="author-detail">
            <span class="author-name"> Author Name </span>
            <span class="author-role">Role</span>
          </div>
        </div>
      </div>

      <figure class="testimonials-next">
        <img
          src="../assets/icon/ic_arrow-right.svg"
          alt="ic_arrow-right"
          class="img-main"
        />
      </figure>
    </div>
  </section>

  <!-- Blog Section -->
  <section class="blog">
    <!-- title -->
    <include
      src="./components/title.html"
      locals='{"titlePrimary": "from our blog", "titleSecondary": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.", "titleSecondary2": "Bibendum amet at molestie mattis."}'
    ></include>

    <!-- card-blog -->
    <article>
      <div class="blog-cards cards">
        <include
          src="./components/card-blog.html"
          locals='{"list":[
            {"cardImage": "../assets/image/desktop/placeholder.webp", "cardName": "placeholder"},
            {"cardImage": "../assets/image/desktop/placeholder.webp", "cardName": "placeholder"},
            {"cardImage": "../assets/image/desktop/placeholder.webp", "cardName": "placeholder"},
            {"cardImage": "../assets/image/desktop/placeholder.webp", "cardName": "placeholder"}
            ]}'
        >
        </include>
      </div>
    </article>

    <!-- button primary -->
    <include
      src="./components/button-primary.html"
      locals='{"classButton": "blog-button"}'
    >
    </include>
  </section>

  <!-- The Team Section -->
  <section class="team">
    <!-- title -->
    <include
      src="./components/title.html"
      locals='{"titlePrimary": "the team", "titleSecondary": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.", "titleSecondary2": "Bibendum amet at molestie mattis."}'
    >
    </include>

    <!-- Start card team -->
    <article>
      <div class="team-cards cards">
        <include
          src="./components/card-team.html"
          locals='{"list": [
          {"srcMobile":"../assets/image/mobile/person1_mobile.webp","cardImage":"../assets/image/desktop/person1.webp","nameMember": "Darrell Steward","roleMember": "UI Designer & Co-founder", "contactName":"Contact Darrell"},
          {"srcMobile":"../assets/image/mobile/person2_mobile.webp","cardImage":"../assets/image/desktop/person2.webp","nameMember": "Savannah Nguyen","roleMember": "UI Designer & Co-founder", "contactName":"Contact Savannah"},
          {"srcMobile":"../assets/image/mobile/person3_mobile.webp","cardImage":"../assets/image/desktop/person3.webp","nameMember": "Dianne Russell","roleMember": "Developer","contactName":"Contact Dianne"},
          {"srcMobile":"../assets/image/mobile/person4_mobile.webp","cardImage":"../assets/image/desktop/person4.webp","nameMember": "Kristin Watson","roleMember": "Sr. Product Designer", "contactName":"Contact Kristin"}
          ]}'
        >
        </include>
      </div>
    </article>
  </section>

  <!-- Price Section -->
  <section class="price">
    <!-- title -->
    <div class="price-title">
      <include
        src="./components/title.html"
        locals='{"titlePrimary": "Pricing", "titleSecondary": "Bibendum amet at molestie mattis.", "titleSecondary2": ""}'
      >
      </include>
      <p>
        Rhoncus morbi et augue nec, in id ullamcorper at sit. Condimentum sit
        nunc in eros scelerisque sed. Commodo in viverra nunc, ullamcorper ut.
        Non, amet, aliquet scelerisque nullam sagittis, pulvinar. Fermentum
        scelerisque sit consectetur hac mi. Mollis leo eleifend ultricies purus
        iaculis.
      </p>
    </div>
    <!-- Sale toggle -->
    <div class="package-time">
      <div class="sale">20% OFF</div>
      <div class="switch-container">
        <span>Yearly</span>
        <div class="switch"></div>
        <span>Monthly</span>
      </div>
    </div>

    <!-- Price card -->
    <article class="container-price-cards">
      <div class="tag-package">Most Popular</div>
      <div class="price-cards cards">
        <include
          src="./components/card-price.html"
          locals='{"list":[
          {"packageName":"Freelancer",
            "packageDescription":"Quisque donec nibh diam tellus integer eros.",
            "price":"$35",
            "priceSale":"$25",
            "priceDescription":"$25 USD per month, paid annually", "listFt": ["Eleven", "Twelve", "Thirteen", "Fourteen", "Fifteen"]},
  
            {"packageName":"Professional",
            "packageDescription":"Sed eget purus vulputate suscipit erat.",
            "price":"$65",
            "priceSale":"$55",
            "priceDescription":"$55 USD per month, paid annually", "listFt": ["Eleven", "Twelve", "Thirteen", "Fourteen", "Fifteen", "Sixteen","Seventeen","Eighteen"]},
  
            {"packageName":"Agency",
            "packageDescription":"Odio aenean purus non cursus blandit.",
            "price":"$125",
            "priceSale":"$95",
            "priceDescription":"$25 USD per month, paid annually", "listFt": ["Eleven", "Twelve", "Thirteen", "Fourteen", "Fifteen","Sixteen","Seventeen","Eighteen", "Nineteen","Twenty","Thirty","Forty"]}
          ]}'
        >
        </include>
      </div>
    </article>
  </section>

  <!-- Q&A Section -->
  <section class="question">
    <!-- title -->
    <include
      src="./components/title.html"
      locals='{"titlePrimary": "Frequently Asked questions", "titleSecondary": "Bibendum amet at molestie mattis.", "titleSecondary2": ""}'
    >
    </include>

    <!-- Q&A -->
    <div class="container-questions">
      <include
        src="./components/card-question.html"
        locals='{"list":["Who should use the app?", "What is included with my subscription?", "How do i get paid?","Is my personal information safe?","How can we get in touch?"]}'
      >
      </include>
    </div>
  </section>

   <!-- CTA Section -->
   <section class="cta">
    <!-- titile -->
    <div class="cta-title">
      <include
        src="./components/title.html"
        locals='{"titlePrimary": "", "titleSecondary": "Bibendum amet at molestie mattis.", "titleSecondary2": ""}'
      >
      </include>
      <p>
        Rhoncus morbi et augue nec, in id ullamcorper at sit. Condimentum sit
        nunc in eros scelerisque sed. Commodo in viverra nunc, ullamcorper ut.
        Non, amet, aliquet scelerisque nullam sagittis, pulvinar. Fermentum
        scelerisque sit consectetur hac mi. Mollis leo eleifend ultricies purus
        iaculis.
      </p>
    </div>

    <!-- button action -->
    <div class="cta-contain-button-action">
      <button class="cta-btn-primary btn primary">
        Primary Action
      </button>
      <button class="cta-btn btn btn-no-primary">
        Secondary Action
      </button>
    </div>
  </section>
</main>
