@use "../../abstracts/" as *;

/*********** Caption Page ***********/

.caption {
  @include flex($direction: column, $gap: 64px, $align: center);

  @include mobile {
    gap: 32px;
  }
  &-cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 536px));
    justify-items: center;
    gap: 64px;
    @include mobile {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      gap: 24px;
    }
    .caption-card {
      figure {
        max-width: 120px;
        height: auto;
      }
      figcaption {
        display: -webkit-box;
        -webkit-line-clamp: 4; /* Giới hạn 3 dòng */
        -webkit-box-orient: vertical;
        overflow: hidden; /* Ẩn phần dư */
      }
    }
  }
}
