@use "../../abstracts/" as *;

/****** Testimonials Page ******/
.testimonials {
  padding: $padding-desktop;

  @include mobile {
    padding: $padding-mobile;
  }

  background-color: $second-color;
  @include flex($direction: column, $align: center);
  &-slider {
    padding-top: $padding-desktop;
    max-width: 1280px;
    @include mobile {
      padding-top: 48px;
    }

    @include flex($gap: 16px, $align: center, $justify: center);

    text-align: center;
    .content-testimonials {
      @include flex(
        $direction: column,
        $align: center,
        $justify: space-between,
        $gap: 16px
      );
      padding: 24px;
      border: solid 1px #dde1e6;
      background-color: $background-color;
      transition: all 0.3s ease;

      .testimonials-context {
        display: -webkit-box;
        -webkit-line-clamp: 7; /* Giới hạn 3 dòng */
        -webkit-box-orient: vertical;
        overflow: hidden; /* Ẩn phần dư */
      }

      .testimonials-author {
        padding-top: 16px;
        @include flex(
          $direction: column,
          $justify: center,
          $align: center,
          $gap: 16px
        );
        .author-detail {
          @include flex($direction: column);
          .author-name {
            font-weight: 700;
            font-size: 24px;
            line-height: 26.4px;
          }
        }
      }
    }
    @include desktop {
      .content-testimonials:hover {
        transform: translateY(-10px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
      }
    }
  }
  @include tablet {
    .content-testimonials:nth-child(odd) {
      display: none;
    }
  }
  @include mobile {
    .testimonials-slider {
      @include flex($justify: center);
    }
    .content-testimonials:nth-child(odd) {
      display: none;
    }
  }
}
