@use "../../abstracts/" as *;

/*********** Tools Page ***********/
.tools {
  padding: $padding-desktop;
  @include flex($direction: column, $gap: 64px);

  @include tablet {
    padding: $padding-mobile;
  }
  @include mobile {
    padding: $padding-mobile;
  }

  &-card{
    figure{
        max-width: 78px ;
    }
  }
}
